<!-- MY ORIGINAL CODE THAT WORKED BEFORE ADDING ANGULAR BOOTSTRAP LIGHTBOX --><!-- 
*<div class="jewelryContainer">
*	<div class="jewelryAll" 
*	  ng-repeat="earring in earrings track by $index">
*		<img ng-src="{{earring.image}}">
		<p class="jewelryText">{{earring.text}}</p>
	</div>
</div>
 -->

<!-- //ANGULAR BOOTSTRAP LIGHTBOX -->
<!-- <ul ng-controller="earringsController">
  <li ng-repeat="earring in earrings">
    <a ng-click="openLightboxModal($index)">
      <img ng-src="{{earring.image}}" 
        class="jewelryAll">
    </a>
  </li>
</ul> -->

<!-- ANGULAR AND MY ORIGINAL CODE -->
<div class="jewelryContainer">
	<div class="jewelryAll"
	ng-controller="earringsController" 
	ng-repeat="earring in earrings track by $index">
	    <a ng-click="openLightboxModal($index)">
	    	<img ng-src="{{earring.image}}"> 
			<p class="jewelryText">{{earring.text}}</p>
		</a>
	</div>    
</div>