<!-- <div class="jewelryContainer">
	<div class="jewelryAll" ng-repeat="pendant in pendants track by $index">
		<img ng-src="{{pendant.image}}">
		<p class="jewelryText">{{pendant.text}}</p>
	</div>	
</div>
 -->
 

<div class="container">
	<div class="row">
		<!-- <div class="
		sumome-share-client-wrapper 
		sumome-share-client-wrapper-left-page 
		sumome-share-client-counts 
		sumome-share-client-light 
		sumome-share-client-medium col s9 offset-s2 m5 l4" style="top: 149px;">
			<div class="sumome-share-client-show"><span></span>
			</div>

			<div data-sumome-share-pos="lp" class="
			sumome-share-client 
			sumome-share-client-left-page 
			sumome-share-client-counts 
			sumome-share-client-light 
			sumome-share-client-medium">

				<a title="Twitter" class="
				sumome-share-client-animated 
				sumome-share-client-share 
				sumome-share-client-count" data-sumome-share="twitter" href="javascript:void(0);" style="color: rgb(255, 255, 255); -->
				 <!--background: rgb(0, 172, 237);-->
				<!--  ">
				<img src="//sumome-140a.kxcdn.com/static/474c3546100c16ca4468bb49c0fb6b3a6a2f361a/client/images/apps/9e8a4d2a-6f8c-415e-851b-bdfe4c01d5c1/twitter-white-60.png">
					<span></span>
				</a>

				<a title="Facebook" class="
				sumome-share-client-animated 
				sumome-share-client-share 
				sumome-share-client-count" data-sumome-share="facebook" href="javascript:void(0);" style="color: rgb(255, 255, 255); -->
				 <!--background: rgb(59, 89, 152);-->
				<!--  ">
					<img src="//sumome-140a.kxcdn.com/static/474c3546100c16ca4468bb49c0fb6b3a6a2f361a/client/images/apps/9e8a4d2a-6f8c-415e-851b-bdfe4c01d5c1/facebook-white-60.png">
						<span></span>
				</a>

				<a title="Google+" class="
				sumome-share-client-animated 
				sumome-share-client-share 
				sumome-share-client-count" data-sumome-share="googleplus" href="javascript:void(0);" style="color: rgb(255, 255, 255); -->
				<!--background: rgb(221, 75, 57);-->
				<!-- ">
					<img src="//sumome-140a.kxcdn.com/static/474c3546100c16ca4468bb49c0fb6b3a6a2f361a/client/images/apps/9e8a4d2a-6f8c-415e-851b-bdfe4c01d5c1/googleplus-white-60.png">
						<span></span>
				</a>

				<a title="Pinterest" class="
				sumome-share-client-animated 
				sumome-share-client-share" data-sumome-share="pinterest" href="javascript:void(0);" style="color: rgb(255, 255, 255); -->
				 <!--background: rgb(203, 32, 39);-->
				 <!-- ">
					<img src="//sumome-140a.kxcdn.com/static/474c3546100c16ca4468bb49c0fb6b3a6a2f361a/client/images/apps/9e8a4d2a-6f8c-415e-851b-bdfe4c01d5c1/pinterest-white-60.png">
				</a>
			</div>

			<div class="sumome-share-client-hide" style="display: none;">
				<span></span>
			</div>
		</div>  -->

		<!-- <a href="/auth/facebook" class="button facebookLogin col s12 m3 l3">
			<img src="login-with-facebook.png" width="154" height="22"></a>
		<a href="#/home">
			<button class="home homePageBtns col s12 m2 l2">Home</button></a>
		<a href="#/about">
			<button class="about homePageBtns col s12 m2 l3">About</button></a> -->
	</div>	
	<!-- end of class row -->
</div>		
<!-- end of class container -->

<!-- delete this section when above section is reinstated -->
<div class="container">
	<div class="row">
		<div class="button">
			<a href="/auth/facebook" class="button facebookLogin col s12 m3 l3">
				<img src="login-with-facebook.png" width="154" height="22"></a>
			<a href="#/home">
				<button class="home homePageBtns col s6 m2 l2">Home</button></a>
			<a href="#/about">
				<button class="about homePageBtns col s6 m2 l2">About</button></a>
			<a href="#/contact">
				<button class ="contact homePageBtns col s6 m2 l2">Contact</button></a>
			<a href="http://gemkids.gia.edu" onclick="window.open(this.href,'_blank'); return false;"> 
				<button class="buttons gemkids col s6 m2 l2">GemKids</button></a>
		</div> <!-- end of class button div -->
	</div> <!-- end of class "row" div -->
</div> <!-- end of class "container" div -->

<div class="container">
	<div class="row">
		<div class="button">
			<a href="#/earrings">
				<button class="buttons earrings col s4 m4 l4">Earrings</button></a>
			<a href="#/pendants">
				<button class="buttons pendants col s4 m4 l4">Pendants</button></a>
			<a href="#/rings">
				<button class="buttons rings col s4 m4 l4">Rings</button></a>
			
			<!-- <a data-href="https://developers.facebook.com/docs/plugins/"
				data-layout="standard" 
				data-action="like" 
				data-show-faces="true"
				data-share="true">
				<button class="buttons fb-like"></button></a> -->
		</div>
	</div>
</div>	
    <div class="row">
		<div class="mainHeader col s12">Kasallis
		</div>
	</div>

<div class="jewelryContainer">
	<div class="jewelryAll" ng-repeat="pendant in pendants track by $index">
		<img ng-src="{{pendant.image}}">
		<p class="jewelryText">{{pendant.text}}</p>
	</div>	
</div>
