/*
adjust facebook button so all those other words are not on the page
the "facebook-like" header buttons do not display correctly when the page is navigated to the first time but when the page is refreshed they work
*/


/*html*/
html {
  padding-top: 0;
	text-align: left;
	background-color: black;
  color: white;
  font-family: 'Forum', cursive;
  font-size: 100%
}

a {
  text-decoration: none;
  color: white;
} 

a:hover {
  color: #6600CC;
}


/*homePage*/
.sumome-share-client-wrapper
.sumome-share-client-wrapper-left-page {
  text-align: center;
  top: 1em;
  margin-top: 0;
}

.facebookLogin {
  text-align: center;
}

.mainHeader {
	font-size: 6em; 
  font-family: 'Cinzel', serif;
  color: white;
}

.homePageBtns {
  background-color: black;
  color: white;
  border: 0;
  font-size: 2em;
  font-family: 'Forum', cursive;
}

.homePageBtns:hover {
  color: #6600CC;
}

.motto {
  width: auto;
  border-top: .05em solid white;
  border-bottom: .05em solid white;
	font-size: 2em;
  font-family: 'Cinzel', serif;
  color: white;
  text-align: center;
}

.photoButtons .buttons {
  background-color: black;
  color: white;
  /*margin-top: 4em;*/
  /*padding-top: 4em;*/
  border: 0;
  font-size: 2em;
  font-family: 'Forum', cursive;
  text-align: center;
}

.buttons:hover {
  color: #6600CC;
}

.photos img {
  padding-top: 4em;
}

.est1989 {
  font-size: 1.5em;
  margin-top: 2em;
  padding-bottom: 1em;
  font-family: 'Cinzel', serif;
  text-align: center;
}


/*buttons on all but home page*/
.button {
  text-align: center;
	top: 0;
  margin: 0;
  padding: .1em;
  border: 0;
}

.button .buttons {
  background-color: black;
  color: white;
  margin: 0;
  padding: .15em;
  border: 0;
  font-size: 1.8em;
  font-family: 'Forum', cursive;
}

.button .buttons:hover {
  color: #6600CC;
}

/*rings, pendants, earrings pages*/
.jewelryContainer {
  padding-top: 6em;
  display: flex;
  width: 90%;
  max-width: 120%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.jewelryAll {
  width: 33%;
}

.jewelryAll img {
  width: 100%;
}

.jewelryText {
  font-size: 2em;
  padding-bottom: 1.5em;
  margin-top: 0;
  letter-spacing: .15em;
  color: white;
  text-align: center;
}

/*about, contact pages*/
.tel {
  font-size: 1.5em;
  /*padding: 1em;*/
  color: white;
  text-align: center;
}

.addressMap {
  font-size: 1.5em;
  padding: .25em;
  color: white;
  text-align: center;
}

.hours {
  color: white;
}
/*about page*/
.jrHeader {
  font-size: 6em; 
  font-family: 'Cinzel', serif;
  color: white;
}

.customBudget {
  font-size: 2em;
  padding: 2em;
  color: white;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.certifications {
  font-size: 1.5em;
  /*padding: .25em;*/
  color: white;
  background-color: black;
  border: none;
  /*text-align: center;*/
}

.certifications:hover {
  color: #6600CC;
}

.aboutTel {
  font-size: 3em;
  padding: 2em;
  font-family: 'Cinzel', serif;
  text-align: center;
}

/*contact page*/
.forYou {
  font-size: 3em;
  padding: 2em;
  color: white;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.contactPhoto {
  margin-bottom: 1em
}

.contactForm {
  font-size: 1.5em;
  color: white;
  background-color: black;
  text-align: center;
  border: none
}


/*my resume*/
.webAppDesignerContactInfo {
  font-family: sans-serif;
  background: #B3BDF5;
}

.paragraphs {
  font-family: serif;
  color: #3350F5;
  background: #ffffff;
  margin: 2em;
}

