/*html*/
html {
  padding-top: 0;
	text-align: center;
	background-color: black;
  color: white;
  font-family: 'Forum', cursive;
  font-size: 100%
}

a {
  text-decoration: none;
  color: white;
} 

a:hover {
  color: #6600CC;
}


/*index.html*/
.sumome-share-client-wrapper
.sumome-share-client-wrapper-left-page {
  top: 1em;
  margin-top: 0;
}

.contactInfo {
  font-size: 1em;
  color: white;
  font-family: 'Cinzel', serif;
}

/*home.html*/
.navBtns {
  background-color: black;
  border-color: black;
  color: white;
  font-size: 1.5em;
  font-family: 'Forum', cursive;
}

.navBtns:hover {
  color: #6600CC;
}

.mainHeader {
  font-size: 5em; 
  font-family: 'Cinzel', serif;
  color: white;
}

.motto {
  border-top: .05em solid white;
  border-bottom: .05em solid white;
	font-size: 1.5em;
  font-family: 'Cinzel', serif;
  color: white;
}

.homeImages {
  max-width: 25%;
  padding: 1em;
}

.photoButtons .buttons {
  background-color: black;
  color: white;
  border: 0;
  font-size: 1.5em;
  font-family: 'Forum', cursive;
}

.buttons:hover {
  color: #6600CC;
}


/*buttons*/
.button {
	top: 0;
  margin: 0;
  padding: .1em;
  border: 0;
}

.button .buttons {
  background-color: black;
  color: white;
  margin: 0;
  padding: .15em;
  border: 0;
  font-size: 1.8em;
  font-family: 'Forum', cursive;
}

/*rings, pendants, earrings pages*/
.jewelryContainer {
  padding-top: 6em;
  display: flex;
  width: 90%;
  max-width: 120%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.jewelryAll {
  width: 33%;
}

.jewelryAll img {
  width: 100%;
}

.jewelryText {
  font-size: 2em;
  padding-bottom: 1.5em;
  margin-top: 0;
  letter-spacing: .15em;
  color: white;
}

#earringPhoto {
  display: center;
}


/*about, contact pages*/
.addressMap {
  font-size: 1.5em;
  color: white;
}

.hours {
  font-size: 1.5em;
  color: white;
}


/*about page*/
.customBudget {
  border-top: .05em solid white;
  border-bottom: .05em solid white;
  font-size: 2em;
  color: white;
  font-family: 'Cinzel', serif;
  width: auto;
}

.certifications {
  font-size: 1.5em;
  color: white;
  background-color: black;
}

.certifications:hover {
  color: #6600CC;
}


/*contact page*/
.forYou {
  border-top: .05em solid white;
  border-bottom: .05em solid white;
  font-size: 3em;
  color: white;
  font-family: 'Cinzel', serif;
}

.contactPhoto {
  margin-bottom: 1em
}

.contactForm {
  font-size: 1.5em;
  color: white;
  background-color: black;
  border: none
}


/*my resume*/
.webAppDesignerContactInfo {
  font-family: sans-serif;
  background: #B3BDF5;
}

.paragraphs {
  font-family: serif;
  color: #3350F5;
  background: #ffffff;
  margin: 2em;
}

